#po1{
    position: fixed;
    border: 5px solid brown;
    top: 200px;
    height: 20%;
}
img:hover{
    float: left; 
    position: absolute;
border-radius: 50%;
    opacity: 0.8;
    fill-opacity: initial(opacity);
}
#wasp{
    background-color: chartreuse;

}
